p{
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
  
} 
/* 
 .mainContainer{
    display: flex;
    flex-wrap: wrap;
    width:70vw;
    
}  */



.card{
   
    border: 1px solid black;
    width: 140px;
    height: 150px;
   
}
